/* universal element */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: monospace, sans-serif;
}

/* Sets webpage background */
body {
    background-color: grey;
}

/* Sets link to the color white */
.link {
    color: white;
    text-decoration: underline;
    padding: 15px;
}

.link:hover {
box-shadow: inset 0px 0px 10px blue, 0 0 15px red;
}

/* Paragraphs font size */
p {
    font-size: 25px;
    display: inline-flexbox;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
}


main section ul li {
    display: inline-block;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
}
 
.profile {
    height: 50rem;
    width: 45%;
    margin-bottom: 60px;
    margin-top: 60px;
    background-image: url(../images/male-placeholder-image.jpeg);
    background-size: auto;
    background-position: center;
}


header {
    padding: 40px;
    font-family: sans-serif;
    background-color: black;
    color: #ffffff;
}

header div {
    padding: 30px;
    margin-right: 20px;
    float: right;
    font-family: sans-serif;
    font-size: 40px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header h1 {
    display: inline;
    font-size: 70px;
    background-color: red;
    padding: 30px;
    height: auto;

}

.info {
    width: 75%;
    display: inline-block;
    flex-wrap: wrap;  
       
}

.info-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: sans-serif;
    background-color: black;
    color: #ffffff; 
   
}

h2 {
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center; 
}

.container {
    position: relative;
    font-family: monospace;
    font-size: 20px;
}
  
.text-block {
    position: absolute;
    top: 5px ;
    left: 20px;
    background-color: black;
    opacity: 75%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.big {
    height: 50%;
    width: 50%;
}

.normal {
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }