/* universal element */
* {
    box-sizing: border-box;
    color: white;
    font-family: monospace, sans-serif;
}

/* Sets webpage background */
body {
    background-color: grey;
}

/* Sets link to the color white */
.link {
    color: white;
    text-decoration: underline;
    padding: auto;
}

.link:hover {
box-shadow: inset 0px 0px 10px blue, 0 0 15px red;
}

/* Paragraphs font size */
p {
    font-size: 25px;  
}

img {
    width: 50%;
    height: 70%;
    border-radius: 25px;
}


main section ul li {
    display: inline-block;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
}
 
.profile {
    height: 50rem;
    width: 45%;
    margin-bottom: 60px;
    margin-top: 60px;
    background-image: url(../images/male-placeholder-image.jpeg);
    background-size: auto;
    background-position: center;
}


header {
    padding: 40px;
    font-family: sans-serif;
    background-color: black;
    color: #ffffff;
}

header div {
    padding: 30px;
    margin-right: 20px;
    float: right;
    font-family: sans-serif;
    font-size: 40px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header h1 {
    display: inline;
    font-size: 70px;
    background-color: red;
    padding: 30px;
    height: auto;

}

.info {
    width: 75%;
    display: inline-block;
    flex-wrap: wrap;  
       
}

.info-style {
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    font-family: sans-serif;
    background-color: black;
    color: #ffffff; 
}


h2 {
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center; 
    padding: 20px;
    background-color: red;
}

.container {
    padding: 6px 16px;
}

.card {
    width: 50%;
    padding: 10px; 
}
  


.big {
    object-fit: contain;
    
}


