/* universal element */
* {
    box-sizing: border-box;
    color: white;
    font-family: monospace, sans-serif;
}

/* Sets webpage background */
body {
    background-color: grey;
}

/* NavBar */
nav {
    color: white;
    text-decoration: underline;
    padding: auto;
}

/* Highlights NavBars links */
nav ul li:hover {
box-shadow: inset 0px 0px 10px blue, 0 0 15px red;
}

header {
    padding: 40px;
    background-color: black;
    color: #ffffff;
}

header nav {
    padding: 30px;
    float: right;
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
    padding: auto;
    text-align: center;
    margin: auto;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header h1 {
    display: inline;
    font-size: 70px;
    background-color: red;
    padding: 30px;
    height: auto;
    max-width: 30%;
}

/* Paragraphs font size */
p {
    font-size: 25px;  
}

/* Set images size and gives it rounded corners */
img {
    width: 70%;
    height: 70%;
    border-radius: 25px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

/* Highlights picture with red and blue border */
img:hover {
    box-shadow: inset 0px 0px 10px blue, 0 0 15px red;
}


main section ul li {
    display: inline-block;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
}
 
/* Profile picture */
.profile {
    height: 50rem;
    width: 45%;
    margin-bottom: 25px;
    margin-top: 25px;
    background-image: url(../images/male-placeholder-image.jpeg);
    background-size: auto;
    background-position: center;
}

.info {
    width: 75%;
    display: inline-block;
    flex-wrap: wrap;  
       
}

/* Main sections styling */
.info-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    font-family: sans-serif;
    background-color: black;
    color: #ffffff; 
}

h2 {
    margin-bottom: auto;
    font-size: 45px;
    text-align: center; 
    padding: 40px;
    background-color: red;
}

/* Sets display for images */
.card {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px; 
}
  
/* Enlarges first application image */
.card-big {
    width: 90%;
    padding: 10px; 
    object-fit: cover;
    text-align: center;  
}

